#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.container-form {
  display: grid;
  justify-content: center;
  align-items: center;
}

label, span {
  text-align: start;
  margin:6px;
  font-weight: bold;
}

.main-button {
  background-color: blue;
  color: white;
  margin-top: 5px;
  width: 140%;
}

input[type=text], select {
  border-radius: 8px;
  height: 27px;
  width: 140%;
  padding:5px;
  background-color: #dcdcdc;
}

textarea {
  border-radius: 8px;
  height: 60px;
  width: 140%;
  padding:5px;
  background-color: #dcdcdc;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: start;
}